<%= form_for @product, class: "form" do |form| %>
  <div class="heading text-center font-bold text-2xl m-5 text-gray-800">New Product</div>
  <div class="editor rounded-md shadow-md mx-auto w-10/12 flex flex-col text-gray-800 p-4 shadow-lg max-w-8xl">
    <div class="grid grid-cols-3">
      <!-- image -->
      <div id="preview-image-holder" class="py-12 mr-8 h-60 flex flex-col justify-center items-center" style="display: none">
        <%= image_tag 'default-image.svg', alt: 'icon', id: "preview-image", class: "max-w-full h-full m-auto" %>
      </div>
      <div class="border-dashed border-2 border-gray-400 py-12 mr-8 h-full flex flex-col justify-center items-center" id="form-uploader">
        <p class="p-4 font-semibold text-gray-900 flex flex-wrap justify-center">
          <span class="text-center break-word">Drag and drop your files anywhere or</span>
        </p>
        <input id="hidden-input" type="file" multiple class="hidden z-10" />
        <label id="food-image-label" class="mt-2 rounded-sm px-3 py-1 bg-gray-200 hover:bg-indigo-500 cursor-pointer hover:text-white focus:shadow-outline focus:outline-none">
          Upload a file
          <%= form.file_field :image, class: "hidden absolute", id: "uploader" %>
        </label>
      </div>
      <div class="col-span-2">
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, {class: "title border border-gray-300 w-full p-2 mb-4 outline-none", placeholder: "name"} %>
        </div>
        <div class="field">
          <%= form.label :description %>
          <%= form.text_area :description, {class: "title border border-gray-300 w-full p-2 mb-4 outline-none", placeholder: "description"} %>
        </div>
        <div class="field">
          <%= form.label :price %>
          <%= form.number_field :price, {class: "title border border-gray-300 w-full p-2 mb-4 outline-none", placeholder: "price", min: 0} %>
        </div>
        <%= form.number_field :rating, {class: "title border border-gray-300 w-full p-2 mb-4 outline-none", placeholder: "default rating", min: 0.0, step: 0.1} %>

      </div>
    </div>
    <!-- buttons -->
    <div class="buttons flex">
      <div class="btn border border-gray-300 p-1 px-4 font-semibold cursor-pointer text-gray-500 ml-auto">Cancel</div>
      <%= form.submit "Create", method: :post, class: "btn border border-indigo-500 p-1 px-4 font-semibold cursor-pointer text-gray-200 ml-2 bg-indigo-500" %>
    </div>
  </div>
<% end %>
<%= javascript_pack_tag 'image', 'data-turbolinks-track': 'reload' %>
