<% @products.each_with_index do |item, index| %>
  <%#= form_for @line_item, remote: true do |form| %>
    <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden cursor-pointer">
      <a class="block relative h-40 rounded overflow-hidden">
        <% if item.image.attached? %>
          <%= image_tag item.image, class: "object-cover object-center max-w-full max-h-full mx-auto" %>
        <% else %>
          <img alt="product-image" class="object-cover object-center max-w-full max-h-full mx-auto" src="https://image.flaticon.com/icons/png/512/3075/3075929.png">
        <% end %>
      </a>
      <div class="px-5 py-3">
        <h2 class="text-gray-900 title-font text-lg font-medium"><%= item.name %></h2>
        <div class="flex items-center mt-1">
          <svg class="mr-1 w-5 h-5 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
          <%= item.rating %>
        </div>
        <p class="mt-1">$<%= item.price %></p>
        <div class="flex mt-2 justify-between">
          <%#= form.number_field :quantity, value: 1, class: "hidden" %>
          <%#= form.hidden_field :product_id, value: item.id %>
          <%#= form.submit "Add to cart", class: "cursor-pointer w-full p-1 bg-indigo-600 text-white"  %>
          <button class="cursor-pointer w-full p-1 bg-indigo-600 text-white">Add to cart</button>
          <%= link_to "Detail", product_path(item.id), class: "w-full p-1 bg-gray-600 text-white text-center", method: :get %>
        </div>
      </div>
    </div>
  <%# end %>
<% end %>
